<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title th:text="${event.name}"></title>
</head>
<body>
  <div layout:fragment="content">
    <h1 th:text="${event.name}"></h1>

  <table style="width:40%">
  <tr>
    <th>DATE</th>
    <th th:text="${event.date}"></th>
  </tr>
  <tr>
   <th>TIME</th>
    <th th:text="${event.time}"></th>
  </tr>
  <tr>
    <th>VENUE</th>
    <th><a th:href="@{/venues/{num}(num=${venue.id})}" th:text ="${venue.name}"</a></th>
  </tr>
  <tr>
    <th>VENUE CAPACITY</th>
    <th th:text="${venue.capacity}"></th>
  </tr>
  <tr>
    <th>DESCRIPTION</th>
    <th th:text="${event.description}"></th>
  </tr>
</table> 

<form th:action="@{/events/{num}(num=${event.id})}" th:method="delete">
		  <input type="hidden" name="_method" value="delete">
 <input type="hidden" name="_method" value="delete" />
        <td> <button type="submit" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i> Delete</a></td>
        </form>
     
</body>
</html>