<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>New</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Add a new event</h1>
    
    <form  th:action="@{/events}" th:object="${eventssssssss}" method="post">
    
      
        <label><b>Event Name</b></label>
	    <input type="text" placeholder="Enter Event Name" name="name" required>
	
	    <label><b>Venue</b></label>
	    <select name="venue" >
		    <option th:each="v : ${venues}" th:value="${v.id}" th:text="${v.name}">Venue</option>
		</select> 

		<label><b>Date:</b></label>
		<input type="date" value="2020-02-01"  name="date" required>
		
		<label><b>Time:</b></label>
		<input type="time" value="12:00" name="time"  required>
		
		<label><b>Description</b></label>
	    <input type="text" placeholder="Enter Event Description" name="description" required>
		
      
      <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/events"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
      
    </form>
  </div>
</body>
</html>
