<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>New</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Add a new event</h1>
    
    <div th:if="${message}" class="alert alert-danger" role="alert">
		<strong>Invalid input:</strong> <span th:text="${message}">error message</span>
	</div>
    
    
    <form th:action="@{/events/new}" th:object="${event}" method="post">
      
      	<div class="form-group">
	        <label><b>Event Name</b></label>
		    <input class="form-control" type="text" placeholder="Enter Event Name" name="name" required/>
	    </div>
	    
		<div class="form-group">
		    <label><b>Venue</b></label>
		    <select class="form-control" name="venue" required>
		        <option value="">Select Venue</option>
			    <option th:each="v : ${venues}" th:value="${v.id}" th:text="${v.name}">Venue</option>
			</select> 
		</div>
		
		<div class="form-group">
			<label><b>Date:</b></label>
			<input class="form-control" type="date"  name="date" required>
		</div>
		
		<div class="form-group">
			<label><b>Time:</b></label>
			<input class="form-control" type="time" name="time">
		</div>
		
		<div class="form-group">
			<label><b>Description</b></label>
		    <input class="form-control" type="text" placeholder="Enter Event Description" name="description">
		</div>
      
      <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/events"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
      
    </form>
  </div>
</body>
</html>
