<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>New</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Add a new venue</h1>
    
    <div th:if="${message}" class="alert alert-danger" role="alert">
		<strong>Invalid input:</strong> <span th:text="${message}">error message</span>
	</div>
    
    
    <form th:action="@{/venues/new}" th:object="${venue}" method="post">
      
      	<div class="form-group">
        	<label><b>Venue Name:</b></label>
	    	<input class="form-control" type="text" name="name" placeholder="Enter Venue Name" required/>
		</div>
		
		<div class="form-group">
			<label><b>Capacity:</b></label>
			<input class="form-control" type="number"  name="capacity" placeholder="Enter Total Capacity" required/>
		</div>
		
		<div class="form-group">
			<label><b>Road Name:</b></label>
			<input class="form-control" type="text" name="roadname" placeholder="Enter Road Name" required/>
		</div>
		
		<div class="form-group">
			<label><b>Postcode:</b></label>
	    	<input class="form-control" type="text" name="postcode" placeholder="Enter Postcode" required/>
		</div>
      
      <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/venues"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
      
    </form>
  </div>
</body>
</html>
