<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>Update</title>
</head>
<body>
  <div layout:fragment="content">
  
      	<div th:if="${message}" class="alert alert-danger" role="alert">
			<strong>Invalid input:</strong> <span th:text="${message}">error message</span>
		</div>
  	
  		<form action="#" th:action="@{'/venues/update/' + ${{venue.id}}}" th:object="${venues}" method="post">
  		
  		  <div class="form-group">
  		  	<label for="name">Venue name</label>
      	    <input class="form-control" type="text" th:placeholder="${venue.name}" name="name" id="name" autofocus="autofocus" />
      	  </div>
      	  
      	  <div class="form-group">
  		  	<label for="roadname">Address</label>
      	    <input class="form-control" type="text" th:placeholder="${venue.roadname}" name="roadname" id="roadname" />
      	  </div>
      	  
      	  <div class="form-group">
      	    <label for="postcode">Postcode</label>
      	    <input class="form-control" type="text" th:value="${venue.postcode}" name="postcode" id="postcode" />
      	  </div>
      	  
      	  <div class="form-group">
      	    <label for="capacity">Capacity</label>
      	    <input class="form-control" type="number"  th:value="${venue.capacity}" name="capacity" id="capacity" />
      	  </div>  	    
 	
      	  
      <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/venues"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
      
    </form>
    
  </div>        
  
  
</body>
</html>