<!DOCTYPE html>
<html>
<head>
  <title>EventLite Home</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css">
  
</head>

<body>
  <div class="container">
    <h1>EventLite</h1>
    <p>This is EventLite.</p>
    
   <div style="float: left; width: 50%;">
    <p><a href="/events">EVENTS</a></p>
    
     <p> Events coming up: </p>
    <ul>
    <th:block th:object="${event}" th:each="e : ${events}">
     <li><a th:href="@{/events/{num}(num=${e.id})}" th:text ="${e.name}"></a></li>
    </th:block>
    </ul>
    </div>
    <div style="float: right; width: 50%;">
    <p><a href="/venues">VENUES</a></p>
    
     <p> Most Popular Venues: </p>
      <ul>
    <th:block th:object="${venue}" th:each="v : ${venues}">
     <li><a th:href="@{/venues/{num}(num=${v.id})}" th:text ="${v.name}"></a></li>
    </th:block>
    </ul>
    </div>

  </div>
  
  
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/popper.js/umd/popper.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
